footer {
    background: $grey2;
    min-height: 640px;
    width: 85%;
    margin: 0 auto 70px;
    display: grid;
    grid-template-columns: 50% 50%;

    form {
        display: grid;
        gap: 18px;
        padding: 60px 50px; 
        grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;

        label {
            display: flex;
            align-items: flex-end;
            font-size: 0.7rem;
            @include title;
            color: $grey3;
        }

        input[type="text"], textarea {
            background: none;
            border: 1px solid $grey1;
            border-radius: 4px;
            resize: none;
        }

        .submit-container {
            display: flex;
            // 1:10:04
        }
    }

}